{% extends "base.html.j2" %}
{% set page_url = self.path %}
{% block title %}À Propos - {{ site_name }}{% endblock %}

{% block content %}
    <h1>À Propos de L'Horizon Libre</h1>
    <p>Présentation du projet, de l'équipe, et de notre mission. Mention spéciale à notre IA Aurore qui travaille sans relâche pour vous informer.</p>
{% endblock %}
